
.container {
    width: 1200px;
    margin: 20px auto 20px auto;
}

/*Top*/

.home{
    display: inline;
    position: fixed;
    left: 10px;
    top: 10px;
}
.title{
    display: inline;
    text-align: center;
}

.settings {
    display: inline;
    position: fixed;
    right: 10px;
    top: 20px;
}

